/*
 *  House Variables - variables.less
 */


//! Type
//! --------------------------------------------------

@helveticaNeue:   "Helvetica Neue", Helvetica, Arial, sans-serif;
@museoSans:       "Museo Sans", @helveticaNeue;


//! Colors
//! --------------------------------------------------

// Greys
// ----------
@white:            #fff;
@grey-light:       #e8e8e8;
@black:            #282828;

// Theme
// ----------
@main:       #ff8066;
@accent:     #ffaa99;
